.hero {
    width: 100%;
    height: 100vh;
    position: relative;
}

.hero-mid {
    width: 100%;
    height: 70vh;
    position: relative;
}

.hero-mid h1 {
    padding-left: 100% !important;
    color: white !important;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-text {
    position: absolute;
    top: 55%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 40%;
    font-weight: 800;
}

.hero-text h1 {
    font-size: 3rem;
    color:black;
}

.hero-text p {
    font-size: 1.3rem;
    color: black;
    padding: 0.5rem 0 2rem 0;
}

.hero-text .show {
    text-decoration: none;
    background: #01959a;
    padding: 1rem 2rem;
    border-radius: 6px;
    font-size: 1.1rem;
    font-weight: bold;
    letter-spacing: 2px;
    color: #fff;
}

.hero-text .hide {
    display: none;
}

@media screen and (max-width: 900px) {
    .hero-text {
        top: 55%;
        left: 30%;
        width: 60%;
    }
    .hero-text h1 {
        font-size: 2rem;
        padding: 10px 20px;
    }
    .hero-mid h1 {
        padding-left: 60% !important;
        color: white !important;
    }
    .hero-text p {
        font-size: 1.1rem;
        padding: 0 0 2rem 0;
    }
    .hero-text .show {
        padding: 0.6rem 1.1rem;
        border-radius: 6px;
        font-size: 1rem;
    }
}